@font-face{
    font-family:myfirstFont ;
    src: url( ../font/glimmer_of_light\ \(1\).zip);
}

body {
    width: 100%;
    font-family: myfirstFont, Arial;
}
.container{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    flex-direction: row;
    padding-top: 50px;
}
.width{
    width: 90%;
}
.left-banner{
    flex: 1;
    text-align: center;
}

.rigth-banner{
    flex: 5;
    flex-direction: column;
    text-align: justify;
    font-size: 20px;
}